node_modules/
frontend/build/
backend/data/
__pycache__/
*.pyc
.env
.env.*
!.env.example
*.log
.DS_Store
data/
memory/
.emergent/
test_reports/
cp4_test.py
data/mariadb/ib_logfile0
data/mariadb_damaged_1790827177/ib_logfile0
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/7.pack
